@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8B1538;
  --primary-light: #B52857;
  --primary-dark: #610F27;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  line-height: 1.6;
}

/* Mapbox styles */
.mapboxgl-popup-content {
  padding: 0;
  border-radius: 8px;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  padding: 8px;
}
